<h2>Order form for Omini sword</h2>

<p><b>email: </b> {{ email }}</p>
<p><b>name: </b> {{ email }}</p>
<p><b>address_1: </b> {{ email }}</p>
<p><b>address_2: </b> {{ email }}</p>
<p><b>city: </b> {{ email }}</p>
<p><b>state_or_province: </b> {{ email }}</p>
<p><b>zip_code: </b> {{ email }}</p>
<p><b>country: </b> {{ email }}</p>
<p><b>phone_number: </b> {{ email }}</p>
<p><b>depth_of_sori: </b> {{ email }}</p>
<p><b>length_of_blade: </b> {{ email }}</p>
<p><b>type_of_steel: </b> {{ email }}</p>
<p><b>other_specifications: </b> {{ email }}</p>
