<h2>Order form for Omini sword</h2>

<p><b>email: </b> {{ email }}</p>
<p><b>name: </b> {{ name }}</p>
<p><b>address 1: </b> {{ address_1 }}</p>
<p><b>address 2: </b> {{ address_2 }}</p>
<p><b>city: </b> {{ city }}</p>
<p><b>state or province: </b> {{ state_or_province }}</p>
<p><b>zip code: </b> {{ zip_code }}</p>
<p><b>country: </b> {{ country }}</p>
<p><b>phone number: </b> {{ phone_number }}</p>
<p><b>depth of sori: </b> {{ depth_of_sori }}</p>
<p><b>length of blade: </b> {{ length_of_blade }}</p>
<p><b>type of steel: </b> {{ type_of_steel }}</p>
<p><b>other specifications: </b> {{ other_specifications }}</p>
