asgiref==3.6.0
dj-database-url==2.1.0
Django==4.2
django-ckeditor==6.5.1
django-environ==0.11.2
django-js-asset==2.0.0
django-phonenumber-field==7.1.0
gunicorn==21.2.0
packaging==23.2
Pillow==9.5.0
psycopg2-binary==2.9.9
sqlparse==0.4.4
typing_extensions==4.8.0
